
    <a class="gallery-link" href='{{largeImageURL}}'>
      <div class="gallery-item" id="${id}">
        <img class="gallery-img" src='{{webformatURL}}' alt='{{tags}}' loading="lazy"/>

    <div class="info">
    <p class="info-item">
      <b>Likes </br><span class='text'>{{likes}}</span></b>
    </p>
    <p class="info-item">
      <b>Views  </br><span class='text'>{{views}}</span></b>
    </p>
    <p class="info-item">
      <b>Comments  </br><span class='text'>{{comments}}</span></b>
    </p>
    <p class="info-item">
      <b>Downloads  </br><span class='text'>{{downloads}}</span></b>
    </p>
    </div>
  </div>
 </a>
